#base_pane {
    -fx-background-color: #080404;
    background-color: #080404;
    -fx-focus-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    background-color: transparent;
    -fx-background-color: transparent;
    -fx-focus-color: transparent;
    -fx-effect: null;
    -fx-opacity: 0;
    opacity: 0;
}

.tab-pane:focused .tab-header-area .headers-region .tab:selected .focus-indicator {
    -fx-border-width: 0 1px 0 1px;
    border-width: 0 1px 0 1px;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-style: solid;
    border-style: solid;
}

#global_active_switch,
#mouse_RMB_active_check,
#mouse_RMB_activeOnHold_check,
#mouse_LMB_active_check,
#mouse_LMB_activeOnHold_check,
#mouse_MMB_active_check,
#mouse_MMB_activeOnHold_check,
#mouse_global_active_switch,
#mouse_global_active_switch {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-text-fill: whitesmoke;
}

#global_active_switch .box,
#mouse_RMB_active_check .box,
#mouse_RMB_activeOnHold_check .box,
#mouse_LMB_active_check .box,
#mouse_LMB_activeOnHold_check .box,
#mouse_MMB_active_check .box,
#mouse_MMB_activeOnHold_check .box,
#mouse_global_active_switch .box,
#mouse_global_active_switch .box {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-radius: 1px;
    border-radius: 1px;
}

#global_active_switch:selected .box,
#mouse_RMB_active_check:selected .box,
#mouse_RMB_activeOnHold_check:selected .box,
#mouse_LMB_active_check:selected .box,
#mouse_LMB_activeOnHold_check:selected .box,
#mouse_MMB_active_check:selected .box,
#mouse_MMB_activeOnHold_check:selected .box,
#mouse_global_active_switch:selected .box,
#mouse_global_active_switch:selected .box {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: transparent;
    border-color: transparent;
    -fx-border-radius: 1px;
    border-radius: 1px;
}

#global_active_switch:selected .mark,
#mouse_RMB_active_check:selected .mark,
#mouse_RMB_activeOnHold_check:selected .mark,
#mouse_LMB_active_check:selected .mark,
#mouse_LMB_activeOnHold_check:selected .mark,
#mouse_MMB_active_check:selected .mark,
#mouse_MMB_activeOnHold_check:selected .mark,
#mouse_global_active_switch:selected .mark,
#mouse_global_active_switch:selected .mark {
    -fx-background-color: whitesmoke;
    background-color: whitesmoke;
}

#tab_pane .tab {
    -fx-background-color: transparent;
    background-color: transparent;
}

#tab_pane .tab .tab-label {
    -fx-text-fill: whitesmoke;
}



#scripts_text,
#mouse_scripts_text,
#implemented_text,
#mouse_RMB_text,
#mouse_LMB_text,
#mouse_MMB_text,
#mouse_RMB_KeySequence_text,
#mouse_LMB_KeySequence_text,
#mouse_MMB_KeySequence_text {
    -fx-fill: whitesmoke;
    fill: whitesmoke;
}

#scripts_scroll_selection {
    -fx-background-color: #080404;
    background-color: #080404;
}

#scripts_scroll_ancor_selection {
    -fx-background-color: #080404;
    background-color: #080404;
}

#scripts_vbox_selection {
    -fx-background-color: #080404;
    background-color: #080404;
}

#add_script_button,
#mouse_save_button {
    -fx-text-fill: whitesmoke;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-width: 0 1px 0 1px;
    border-width: 0 1px 0 1px;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-style: solid;
    border-style: solid;
}

#add_script_button:hover,
#mouse_save_button:hover {
    -fx-background-color: #383434;
    background-color: #383434;
}

#script_settings_selection {
    -fx-background-color: transparent;
    background-color: transparent;
}

#mouse_RMB_KeySequence,
#mouse_LMB_KeySequence,
#mouse_MMB_KeySequence {
    -fx-text-fill: whitesmoke;
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    border-width: 0 1px 1px 1px;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-style: solid;
    border-style: solid;
}

#mouse_RMB_pane,
#mouse_MMB_pane {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-width: 0 1px 0 1px;
    border-width: 0 1px 0 1px;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-style: solid;
    border-style: solid;
}

#mouse_LMB_pane {
    -fx-background-color: #201c1c;
    background-color: #201c1c;
    -fx-border-width: 0 1px 0 1px;
    border-width: 0 1px 0 1px;
    -fx-border-color: whitesmoke;
    border-color: whitesmoke;
    -fx-border-style: solid;
    border-style: solid;
}